In [ ]:
#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.

In [4]:
import numpy as np
import pandas as pd
from datetime import datetime
from random import randrange
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
np.random.seed(0)
index=np.arange(10000)
df=pd.DataFrame(np.random.rand(10000,11),index=index,columns=['cusno','gender','age','region',
                                           'day','date','product1','price','quantity','time','amount']) 

df.cusno=np.random.randint(0,1000,10000)
gender=np.random.randint(0,2,10000)
for i in range(len(df)):
    df.gender[i]=gender[df.cusno[i]]
age=np.random.randint(0,81,10000) 
for i in range(len(df)):
    df.age[i]=age[df.cusno[i]].astype(int)
region=np.random.randint(0,11,10000)
for i in range(len(df)):
    df.region[i]=region[df.cusno[i]].astype(int)
date_list=[]
start_date = pd.to_datetime('2020-01-01')
end_date = pd.to_datetime('2021-12-31')
date_list = pd.date_range(start_date,end_date,freq='D')
df.date=np.random.choice(date_list,10000)
df.day = df.date.dt.day_name()
df.product1=np.random.randint(10,40,10000)
price= np.random.randint(1,10,10000)
for i in range(len(df)):    
    if df.product1[i] < 20:
        df.price[i] = price[df.product1[i]]
    elif df.product1[i] < 30:
        df.price[i] = price[df.product1[i]]*10
    elif df.product1[i] < 40:
        df.price[i] = price[df.product1[i]]*100
df.quantity=np.random.randint(1,20,10000)
# df.quantity_21=np.random.randint(1,101,10000)
df.time=np.random.randint(10,23,10000)
# df.time_21=np.random.randint(1,25,10000)
df.amount = df.price*df.quantity
df=df.astype({'gender':'int','age':'int','region':'int','price':'int','amount':'int'})
df

# 블랙 프라이데이, 크리스마스 기간에 대한 매출 상승
# 점심 저녁시간에 대한 매출 증가 (worker)
# 2021 2020대비 매출 20프로 상승(고가 제품의 수령 20프로 증가) - 4번 연계가능성
# 2020 3-5월 매출 30프로 감소(코로나 초창기)
# 주말 평일보다 매출 10프로 상승
# 수정중입니다.

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount
0,776,1,19,10,Tuesday,2020-04-07,23,10,3,11,30
1,886,1,71,5,Friday,2020-10-02,14,2,18,20,36
2,550,0,2,10,Friday,2020-05-29,14,2,16,10,32
3,864,0,25,5,Sunday,2020-06-28,39,900,8,11,7200
4,377,1,59,10,Thursday,2020-01-02,22,10,13,15,130
...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,28,7,Saturday,2021-07-03,22,10,15,21,150
9996,823,1,18,0,Wednesday,2020-07-01,13,9,15,12,135
9997,947,0,15,10,Tuesday,2021-09-07,13,9,17,20,153
9998,26,1,19,6,Thursday,2020-05-07,10,6,7,20,42
9999,42,1,9,8,Tuesday,2021-06-01,36,900,10,20,9000

In [3]:
# 데이터 전처리
df1=df.copy()
df1['product_tag']=df1.product1
for i in range(len(df1)):
    if df1.product_tag[i]<20:
        df1.product_tag[i]='저'
    elif df1.product_tag[i]<30:
        df1.product_tag[i]='중'
    elif df1.product_tag[i]<40:
        df1.product_tag[i]='고'
df1['year']=df1.date.dt.year
df1['month']=df1.date.dt.month
for i in range(len(df1)):
    if df1.age[i] < 10:
        df1.age[i] = 0
    elif df1.age[i] < 20:
        df1.age[i] = 10
    elif df1.age[i] < 30:
        df1.age[i] = 20
    elif df1.age[i] < 40:
        df1.age[i] = 30
    elif df1.age[i] < 50:
        df1.age[i] = 40
    elif df1.age[i] < 60:
        df1.age[i] = 50
    elif df1.age[i] < 70:
        df1.age[i] = 60
    elif df1.age[i] < 80:
        df1.age[i] = 70
df1['who']=df1.age
for i in range(len(df1)):    
    if df1.who[i] < 10:
        df1.who[i] = 'child'
    elif df1.who[i] < 25:
        df1.who[i] = 'student' 
    elif df1.who[i] < 65:
        df1.who[i] = 'worker'
    else: 
        df1.who[i] = 'elder'
df1

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,month,who
0,776,1,10,10,Tuesday,2020-04-07,23,10,3,11,30,중,2020,4,student
1,886,1,70,5,Friday,2020-10-02,14,2,18,20,36,저,2020,10,elder
2,550,0,0,10,Friday,2020-05-29,14,2,16,10,32,저,2020,5,child
3,864,0,20,5,Sunday,2020-06-28,39,900,8,11,7200,고,2020,6,student
4,377,1,50,10,Thursday,2020-01-02,22,10,13,15,130,중,2020,1,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,20,7,Saturday,2021-07-03,22,10,15,21,150,중,2021,7,student
9996,823,1,10,0,Wednesday,2020-07-01,13,9,15,12,135,저,2020,7,student
9997,947,0,10,10,Tuesday,2021-09-07,13,9,17,20,153,저,2021,9,student
9998,26,1,10,6,Thursday,2020-05-07,10,6,7,20,42,저,2020,5,student
9999,42,1,0,8,Tuesday,2021-06-01,36,900,10,20,9000,고,2021,6,child

In [16]:
df1.to_pickle('./dateTest.pkl')

In [5]:
df1=pd.read_pickle('./dateTest.pkl')

In [30]:
#주말과 평일의 소비 습관
weekday=(df1.day!='Saturday') & (df1.day!='Sunday') # 평일
weekend=(df1.day=='Saturday') | (df1.day=='Sunday') # 주말
child = (df1.who=='child') 
student = (df1.who=='student')
worker = (df1.who=='worker')
elder = (df1.who=='elder')
p_l = (df1.product_tag=='저')
p_m = (df1.product_tag=='중')
p_h = (df1.product_tag=='고')

# 10 5 3 / 15 10 5
tmp=df1.loc[weekday & child & p_l] 
tmp=np.arange(0,10,len(tmp))
tmp=df1.loc[weekday & child & p_m]
tmp=np.arange(0,5,len(tmp))
tmp=df1.loc[weekday & child & p_h]
tmp=np.arange(0,3,len(tmp))
tmp=df1.loc[weekend & child & p_l]
tmp=np.arange(0,15,len(tmp))
tmp=df1.loc[weekend & child & p_m]
tmp=np.arange(0,10,len(tmp))
tmp=df1.loc[weekend & child & p_h]
tmp=np.arange(0,5,len(tmp))

# 15 10 5 / 20 15 10
tmp=df1.loc[weekday & student & p_l]
tmp=np.arange(0,15,len(tmp))
tmp=df1.loc[weekday & student & p_m]
tmp=np.arange(0,10,len(tmp))
tmp=df1.loc[weekday & student & p_h]
tmp=np.arange(0,5,len(tmp))
tmp=df1.loc[weekend & student & p_l]
tmp=np.arange(0,20,len(tmp))
tmp=df1.loc[weekend & student & p_m]
tmp=np.arange(0,15,len(tmp))
tmp=df1.loc[weekend & student & p_h]
tmp=np.arange(0,10,len(tmp))

# 20 20 10 / 25 25 15
tmp=df1.loc[weekday & worker & p_l]
tmp=np.arange(0,20,len(tmp))
tmp=df1.loc[weekday & worker & p_m]
tmp=np.arange(0,20,len(tmp))
tmp=df1.loc[weekday & worker & p_h]
tmp=np.arange(0,10,len(tmp))
tmp=df1.loc[weekend & worker & p_l]
tmp=np.arange(0,25,len(tmp))
tmp=df1.loc[weekend & worker & p_m]
tmp=np.arange(0,25,len(tmp))
tmp=df1.loc[weekend & worker & p_h]
tmp=np.arange(0,15,len(tmp))

# 25 20 15 / 30 25 20
tmp=df1.loc[weekday & elder & p_l]
tmp=np.arange(0,25,len(tmp))
tmp=df1.loc[weekday & elder & p_m]
tmp=np.arange(0,20,len(tmp))
tmp=df1.loc[weekday & elder & p_h]
tmp=np.arange(0,15,len(tmp))
tmp=df1.loc[weekend & elder & p_l]
tmp=np.arange(0,30,len(tmp))
tmp=df1.loc[weekend & elder & p_m]
tmp=np.arange(0,25,len(tmp))
tmp=df1.loc[weekend & elder & p_h]
tmp=np.arange(0,20,len(tmp))
df1.amount = df1.price * df1.amount

In [35]:
group_day=df1.groupby('day')
day0=group_day.get_group('Monday').amount.sum()
day1=group_day.get_group('Tuesday').amount.sum()
day2=group_day.get_group('Wednesday').amount.sum()
day3=group_day.get_group('Thursday').amount.sum()
day4=group_day.get_group('Friday').amount.sum()
day5=group_day.get_group('Saturday').amount.sum()
day6=group_day.get_group('Sunday').amount.sum()
weekday=(day0+day1+day2+day3+day4)/5
weekend=(day5+day6)/2
print(weekday,weekend)

2007091970.4 2164019183.0

In [ ]:
#평일시간대에서 직장인 학생 시간대 몰림설정

In [29]:
group_day.get_group('Wednesday').amount

8        120
33       800
44      4500
51        14
71      4500
        ...
9973      90
9977       9
9983    1280
9987    9000
9996     135
Name: amount, Length: 1509, dtype: int32

In [ ]:
#주말 평일보다 매출 10프로 상승
df1.loc[(df1.day=='Sunday') & ((df1.who=='elder')|(df1.who=='worker')) & (df1.product_tag=='고'),
       'quantity']= np.random.randint(10,35,308)
df1.loc[(df1.day=='Saturday') & ((df1.who=='elder')|(df1.who=='worker')) & (df1.product_tag=='고'),
       'quantity']= np.random.randint(10,35,302)
df1.amount = df1.price*df1.quantity
df1

In [126]:
# 토요일 일요일 주말동안 매출 상승

,cusno,gender,age,region,day,date,product1,price,quantity,time,amount,product_tag,year,who
0,776,1,10,10,Tuesday,2020-04-07,23,10,13,11,130,중,2020,student
1,886,1,70,5,Friday,2020-10-02,14,2,14,20,28,저,2020,elder
2,550,0,0,10,Friday,2020-05-29,14,2,5,10,10,저,2020,child
3,864,0,20,5,Sunday,2020-06-28,39,900,3,11,2700,고,2020,student
4,377,1,50,10,Thursday,2020-01-02,22,10,19,13,190,중,2020,worker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,460,1,20,7,Saturday,2021-07-03,22,10,8,21,80,중,2021,student
9996,823,1,10,0,Wednesday,2020-07-01,13,9,2,12,18,저,2020,student
9997,947,0,10,10,Tuesday,2021-09-07,13,9,18,20,162,저,2021,student
9998,26,1,10,6,Thursday,2020-05-07,10,6,18,20,108,저,2020,student
9999,42,1,0,8,Tuesday,2021-06-01,36,900,2,20,1800,고,2021,child

In [122]:
df1.loc[(df1.date=='2020-12-25') | (df1.date=='2020-12-24') |
        (df1.date=='2021-12-25') | (df1.date=='2021-12-24'),'quantity']= np.random.randint(10,45,58)
df1.amount = df1.price*df1.quantity

In [113]:
#시간대 제약
list_time=[12,13,14,18,19,20,21,22 ]
list_retime=[11,15,16,17]
df1.loc[(df1.day!='Saturday') & (df1.day!='Sunday') & (df1.who=='worker'),'time']=nandom=np.random.choice(list_time,3714)

In [52]:
# list=[]
# list=df1.loc[(df1.day!='Saturday') & (df1.day!='Sunday') & (df1.who=='worker')].index
# list(list)

In [162]:
#x=독립 변수 y=종속 변수 종속변수는 배제